extends layout

block content
  h1(class="mb-4")= title

  form(action="/new", method="post")
    div(class="form-group mb-3")
      label(for="author" method="POST" action="/new") Author
      input#author(class="form-control" type="text", name="user")
    div(class="form-group mb-3")
      label(for="author") Message
      textarea#message(class="form-control" name="message", cols="30", rows="5")
    input(class="btn btn-primary" type="submit", value="Submit")